<html>
    <head>
         <link rel="stylesheet" href="css/bootstrap.css" />
    </head>
    <body>
        <div class="container">
            <div class="jumbotron">
                <h1 class="display-4">Bienvenu!</h1>
                <p class="lead">Entrez le nom de vos acteurs préférés et récupérez la liste de leurs films.</p>
                <hr class="my-4">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Le nom d'un acteur/une actrice" aria-label="Name" aria-describedby="basic-addon2">
                </div>
                <button type="button" class="btn btn-info">Demander</button>
            </div>
        </div>

    <script 
    src="/js/jquery.min.js"></script>

    <script 
    src="/js/bootstrap.min.js"></script>

    </body>
</html>