<html>
    <head>
         <link rel="stylesheet" href="/css/bootstrap.css" />
         <link rel="stylesheet" href="/css/actors.css" />
    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">Menu</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/admin">Admin</a>
                    </li>
                  </ul>
                </div>
            </nav>
            <div class="jumbotron">
                <h1 class="display-4">Bienvenue!</h1>
                <p class="lead">Entrez le nom de vos acteurs préférés et récupérez la liste de leurs films.</p>
                <hr class="my-4">
                <div class="input-group mb-3">
                    <input type="text" id="txtQuestion" class="form-control" placeholder="Le nom d'un acteur/une actrice" aria-label="Name" aria-describedby="basic-addon2">
                </div>
                <div><button type="button" id="send" class="btn btn-info" disabled="true">Demander</button> </div>
                <div id="response"></div>
            </div>
        </div>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/responses.js"></script>
    </body>
</html>