
    <%for(var i=0; i<actors.length; i++) {%>
        <table class="table table-striped">
            <tr class="table-info">
            <th><%= actors[i].Name %></th>
            </tr>
            <%for(var f=0; f<actors[i].Movies.length; f++) {%>
                <tr>
                    <td>
                        <%= actors[i].Movies[f] %>
                    </td>
                </tr> 
            <%}%>
        </table>
    <%}%>
