<ul>
    <%for(var i=0; i<actors.length; i++) {%>
        <li>
            <%= actors[i].Name %>
            <ul>
                <%for(var f=0; f<actors[i].Movies.length; f++) {%>
                    <li>
                        <%= actors[i].Movies[f] %>
                    </li> 
                <%}%>
            </ul>
        </li>
    <%}%>
</ul>