<html>
    <head>
        <link rel="stylesheet" href="/css/bootstrap.css" />
    </head>
    <body style="margin:10%">
        <h1>
            Acteurs :
        </h1>
            <%- include('actorList') %>
        <form>
            <div class="form-group">
                <label for="txtName">Name</label>
                <input type="text" id="txtName" class="form-control">
            </div>

            <div class="form-group">
                <label for="txtMovies">Movies</label>
                <textarea type="text" id="txtMovies" class="form-control" rows="3"></textarea>
            </div>

            <button type="button" id="send" class="btn btn-info">Valider</button>
        </form>

    </body>

    <script src="/js/jquery.min.js"></script>
    <script>
        $("#send").click(function() {
            $.post("admin",
            { 
                Name : $("#txtName").val(),
                Movies : $("#txtMovies").val().split(/\n/)
            }
              );
        });
    </script>
</html>